<section class="morework">
    <div class="morework-container">
        <p class="morework-title">Transporting Across The World</p>
        <div class="morework-image">
            <img src="images/MoreWorkImage1.svg" alt="More Work Image" class="morework-image">
            <img src="images/MoreWorkImage2.svg" alt="More Work Image" class="morework-image">
            <img src="images/MoreWorkImage3.svg" alt="More Work Image" class="morework-image">
            <img src="images/MoreWorkImage4.svg" alt="More Work Image" class="morework-image">
            <img src="images/MoreWorkImage5.svg" alt="More Work Image" class="morework-image">
        </div>
        <div class="morework-button">
            <button class="btn btn-primary">More Work</button>
        </div>
    </div>
    <div class="morework-bg"></div>
</section>