
<section id="contact">
    <div class="contact-div">
        <div class="contact-container">
            <div class ="contact-rightSide">
                <div class="contact-text">
                    <p class="text-highlight">Contact</p>
                    <p class="text-heading">Get in touch with us</p>
                    <p class="text-description">Leverage agile frameworks to provide a robust <br> synopsis for strategy foster collaborative<br>thinking to further the overall value.</p>
                </div>
                <!-- <app-header></app-header> -->
                <div class="contact-details">
                    <div id="timeinfo-container">
                        <img id="timelogo" src="images/Icon.svg" alt="Timming Logo" />
                        <div id="time-text">
                            <p>Mon - Sat 9.00 - 18.00</p>
                            <p>Sunday Closed</p>
                        </div>
                    </div>
                    <div id="mailinfo-container">
                        <img id="maillogo" src="images/MailIcon.svg" alt="Location Logo" />
                        <div id="mail-text">
                            <p>Email</p>
                            <p>contact&#64;logistics.com</p>
                        </div>
                    </div>
                    <div id="callinfo-container">
                        <img id="calllogo" src="images/callIcon.svg" alt="Call Logo" />
                        <div id="call-text">
                            <p>Call Us </p>
                            <p>(00) 112 365 489</p>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="contact-leftSide">
                <div class="contact-form">
                    <form action="">
                        <div class="cf-1">
                            <input id="t" type="text" placeholder="Your Name" required>
                            <input id="e" type="email" placeholder="Your Email" required>
                            <input id="n" type="number" placeholder="Phone Number" required>
                            <input id="c" type="text" placeholder="City" required>
                        </div>
                        <div class="cf-2">
                            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                            <button class="button-div" type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="contact-gallery">
            <img id="contactCover" src="images/contactCover.svg" alt="contact-gallery-1">
        </div>
    </div>
</section>

















<!-- <div id="header-info">
  <div id="timeinfo-container">
    <img id="timelogo" src="images/Icon.svg" alt="Timming Logo" />
    <div id="time-text">
      <p>Mon - Sat 9.00 - 18.00</p>
      <p>Sunday Closed</p>
    </div>
  </div>
  <div id="mailinfo-container">
    <img id="maillogo" src="images/MailIcon.svg" alt="Location Logo" />
    <div id="mail-text">
      <p>Email</p>
      <p>contact&#64;logistics.com</p>
    </div>
  </div>

  <div id="callinfo-container">
    <img id="calllogo" src="images/callIcon.svg" alt="Call Logo" />
    <div id="call-text">
      <p>Call Us </p>
      <p>(00) 112 365 489</p>
    </div>
  </div>
</div> -->