<section id="about-section">
    <img id="about-background" src="images/about-background.svg" alt="about-background">
<div class="about-section">
    <div class="about-container">
        <div class="about-text">
            <p class="text-highlight">Why Us</p>
            <p class="text-heading">We provide full range global logistics solution</p>
            <p class="description">
                Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative thinking to further the overall value proposition.
            </p>
            <p class="description">
                Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
            </p>
        </div>
            <div class="about-features">
                <div class="feature">
                    <img id ="DeliveryIcon" src="images/DeliveryIcon.svg" alt="Delivery Icon" />
                    <p>Delivery on Time</p>
                </div>
                <div class="feature">
                    <img id="CostIcon" src="images/CostIcon.svg" alt="Cost Icon" />
                    <p>Optimized Travel Cost</p>
                </div>
            </div>
        <div class="about-images">
            <img class="main-image" src="images/about-hero-image.svg" alt="about-hero-image"/>
        </div>
    </div>
</div>

<div class="about-counter">
    <div class="counter-container">
        <div class="counter">
            <p class="counter-number">1000+</p>
            <p class="counter-description">
                Happy Customers
            </p>
        </div>
        <div class="counter">
            <p class="counter-number">1000+</p>
        </div>
    </div>
</div>
</section>