<!-- <section id="about-section">
    <div class="about-container">
        <div class="about-text">
            <div class="why-us">
                <p class="highlight">Why Us</p>
            </div>
            <h2>We provide full range global logistics solution</h2>
            <p class="description">
                Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative thinking to further the overall value proposition.
            </p>
            <p class="description">
                Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
            </p>
            <div class="features">
                <div class="feature">
                    <img src="images/DeliveryIcon.svg" alt="Delivery Icon" />
                    <p>Delivery on Time</p>
                </div>
                <div class="feature">
                    <img src="images/CostIcon.svg" alt="Cost Icon" />
                    <p>Optimized Travel Cost</p>
                </div>
            </div>
        </div>
        <div class="about-images">
            <img class="main-image" src="images/img1.svg" alt="Airplane" />
            <img class="secondary-image" src="images/img2.svg" alt="Boxes" />
        </div>
    </div>
</section> -->