<section id="about-section">
    <img id="about-background" src="images/about-background.svg" alt="about-background">
    <div class="about-container">
        <div class="about-banner">
            <div class="about-text">
                <div class="top-text">
                    <p class="texthighlight">Why Us</p>
                    <p class="text-heading">We provide full range global logistics solution</p>
                    <p class="description">
                        Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative thinking to further the overall value proposition.
                    </p>
                    <p class="description">
                        Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                    </p>
                </div>
                <div class="bottom-text">
                    <div class="feature">
                        <img id ="DeliveryIcon" src="images/DeliveryIcon.svg" alt="Delivery Icon" />
                        <p class="text-feature">Delivery on Time</p>
                    </div>
                    <div class="feature">
                        <img id="CostIcon" src="images/CostIcon.svg" alt="Cost Icon" />
                        <p class="text-feature">Optimized Travel Cost</p>
                    </div>
                </div>
            </div>
            <div class="about-hero-image">
            <img id="about-hero-image" src="images/about-hero-image.svg" alt="about-image">
            </div>
        </div>
    
        <div class="about-counter">
            <div class="counter">
                <p class="counter-number">1294</p>
                <div class="count-box"></div>
                <p class="counter-description">
                    Deliveried Package
                </p>
            </div>
            <div class="counter">
                <p class="counter-number">3594</p>
                <div class="count-box"></div>
                <p class="counter-description">
                    Satisfied Client
            </div>
        </div>
    </div>
</section>