<img src="images/footerimage.svg" alt="Footer Image" class="footer-image">
<footer class="footer">
  <div class="footer-content">
    <div class="footer-section company-info">
      <img src="images/Logo.svg" alt="TransitFlow Logo" class="footer-logo">
      <p class="company-description">The most trusted logistics company in your area providing the best services.</p>
      <div class="contact-details">
      <div id="mailinfo-container">
        <img id="maillogo" src="images/MailIcon.svg" alt="Location Logo" />
        <div id="mail-text">
            <p>Email</p>
            <p>contact&#64;logistics.com</p>
        </div>
    </div>
    <div id="callinfo-container">
        <img id="calllogo" src="images/callIcon.svg" alt="Call Logo" />
        <div id="call-text">
            <p>Call Us </p>
            <p>(00) 112 365 489</p>
        </div>
    </div> 
    </div>
      <!-- <div class="social-links">
        <a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
        <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
      </div> -->

    </div>

    <div class="footer-section pages">
      <h3 class="footer-heading">Pages</h3>
      <ul class="footer-links">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Our Projects</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="footer-section utility">
      <h3 class="footer-heading">Utility</h3>
      <ul class="footer-links">
        <li><a href="#">Style Guide</a></li>
        <li><a href="#">Changelog</a></li>
        <li><a href="#">Licenses</a></li>
        <li><a href="#">Protected</a></li>
        <li><a href="#">Not Found</a></li>
      </ul>
    </div>

    <div class="footer-section contact">
      <h3 class="footer-heading">Subscribe</h3>
      <form class="subscribe-form">
        <input type="email" placeholder="Email here*" class="subscribe-input">
        <div class="foot-button">
        <button type="submit" class="subscribe-button">Send Now</button>
        <div class="social-links">
          <a href="linkedin.com" class="social-link"><img src="social-icons/in.svg"></a>
          <a href="twitter.com" class="social-link"><img src="social-icons/x.svg"></a>
          <a href="facebook.com" class="social-link"><img src="social-icons/fb.svg"></a>
        </div>
        </div>
      </form>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="copyright">
      <p>&copy; TransitFlow, 2024. All rights reserved.</p>
    </div>
    <div class="terms">
      <p>Style</p>
      <p>Guide</p> 
      <p>Licenses<p>
      <p>Changelog</p>
    </div>
  </div>
</footer>