.home-page-main {
  width: 100vw;
  overflow-x: hidden;
}

.footer-image{
  display: flex;
  width: 100%;
  position: relative;
}

.g1{
  width: 312px;
  height: 100px;
  top: 8532.5px;
  left: 0px;
  position: absolute;
  background: rgba(225, 255, 255, 0.08);

}

.g2{
  width: 1181px;
  height: 100px;
  top: 8532.5px;
  left: 700px;
  position: absolute;
  background: rgba(225, 255, 255, 0.08);
}

@media screen and (max-width: 1200px) {
  .g1 {
      display: none;
  }
  .g2 {
      display: none;
  }
}