<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.67"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<main class="home-page-main">
  <app-header></app-header>
  <app-navigation></app-navigation>
  <app-banner></app-banner>
  <app-services></app-services>
  <app-about></app-about>
  <app-morework></app-morework>
  <app-testimonial></app-testimonial>
  <app-why-choose></app-why-choose>
  <app-team></app-team>
  <app-contact></app-contact>
  <app-blog></app-blog>
  <div class="g1"></div>
  <div class="g2"></div>
  <img src="images/footerimage.svg" alt="Footer Image" class="footer-image">
  <app-footer></app-footer>
</main>