<header>
  
  <div class="header-container">
    <div class="header-logo">
      <img id="transit-logo" src="images/Logo.svg" alt="logo"/>
    </div>

    <div id="header-info">

      <div id="timeinfo-container">
        <img id="timelogo" src="images/Icon.svg" alt="Timming Logo" />
        <div id="time-text">
          <p>Mon - Sat 9.00 - 18.00</p>
          <p>Sunday Closed</p>
        </div>
      </div>

      <div id="mailinfo-container">
        <img id="maillogo" src="images/MailIcon.svg" alt="Location Logo" />
        <div id="mail-text">
          <p>Email</p>
          <p>contact&#64;logistics.com</p>
        </div>
      </div>

      <div id="callinfo-container">
        <img id="calllogo" src="images/callIcon.svg" alt="Call Logo" />
        <div id="call-text">
          <p>Call Us </p>
          <p>(00) 112 365 489</p>
        </div>
      </div>
      </div>
  </div>
</header>