
<div class="counter">
    <!-- <img src="./images/Counter.svg" alt="goodwill" id="ctr"> -->
    <div class="content">
        <p class="count">24</p>
        <div class="box"></div>
        <p class="text">Our Location</p>
    </div>

    <div class="content">
        <p class="count">1294</p>
        <div class="box"></div>
        <p class="text">Delivered Packages</p>
    </div>

    <div class="content">
        <p class="count">3594</p>
        <div class="box"></div>
        <p class="text">Satisfied Clients</p>
    </div>

    <div class="content">
        <p class="count">247+</p>
        <div class="box"></div>
        <p class="text">Owned Vehicles</p>
    </div>

</div>