.about-banner {
    position: relative;
    right: auto;
    left: auto;
    max-width: 100%;
    align-items: center;
    height: auto;
    min-width: 100%;
  }

  .about-banner img{
    position: static;
    z-index: -5000;
    right: auto; 
    left: auto;
    min-width: 100%;
    height: auto;
  }
  .aboutBanner-text{
    position: absolute;
    top: 200px;
    left: 350px;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @media screen and (max-width: 768px)  
  {
    .aboutBanner-text
    {
       left: 50px; 
    }
  }
  @media screen and (max-width: 1500px)
   {
    .aboutBanner-text
    {
       left: 100px;
    }
   }
  
  .text-highlight{
    align-items: center;
    justify-content: centers;
    width: 90px;
    height: 23px;
    left: 4px;
    padding-top: 3px;
    padding-right: 9px;
    padding-bottom: 3px;
    padding-left: 9px; 
    gap: 10px;
    border-left: 5px solid gold;
    background-color: rgba(4, 28, 55, 0.5);
  }
  .text-highlight p{
    color: #ffffff;
    font-family: Rubik;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .text-heading{
    color: #ffffff;
    font-family: Rubik;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
  }