
<section id="service">
    <div class="service-div">
        <div class="service-banner">
            <div class="text">
                <p class="text-highlight">What we do</p>
                <p class="service-heading">Our Logistics Services</p>
            </div>
        </div>

        <div class="container-grid">
            <div class="service-content">
                <div class="service-icon">
                    <img src="images/Service1.svg" alt="Service 1" />
                </div>
                <div class="service-data">
                    <p class="service-type">Sea Transport Services</p>
                    <p class="caption">Following the quality of our service, thus having gained trust of our many clients.</p>
                </div>
            </div>
            <div class="service-content">
                <div class="service-icon">
                    <img src="images/Service2.svg" alt="Service 2" />
                </div>
                <div class="service-data">
                    <p class="service-type">Warehousing Services</p>
                    <p class="caption">Following the quality of our service, thus having gained trust of our many clients.</p>
                </div>
            </div>
            
            <div class="service-content">
                <div class="service-icon">
                    <img src="images/Service3.svg" alt="Service 3" width="60px" />
                </div>
                <div class="service-data">
                    <p class="service-type">Air Freight Services</p>
                    <p class="caption">Following the quality of our service, thus having gained trust of our many clients.</p>
                </div>
            </div>
            <div class="service-content">
                <div class="service-icon">
                    <img src="images/Service5.svg" alt="Service 1" />
                </div>
                <div class="service-data">
                    <p class="service-type">Project & Exhibition</p>
                    <p class="caption">Following the quality of our service, thus having gained trust of our many clients.</p>
                </div>
            </div>
            <div class="service-content">
                <div class="service-icon">
                    <img src="images/Service4.svg" alt="Service 4" />
                </div>
                <div class="service-data">
                    <p class="service-type">Local Shipping Services</p>
                    <p class="caption">Following the quality of our service, thus having gained trust of our many clients.</p>
                </div>
            </div>
            <div class="service-content">
                <div class="service-icon">
                    <img src="images/Service6.svg" alt="Service 4" />
                </div>
                <div class="service-data">
                    <p class="service-type">Customer Clearance</p>
                    <p class="caption">Following the quality of our service, thus having gained trust of our many clients.</p>
                </div>
            </div>
        </div>
        <div class="btn-div">
            <button class="aboutUS-learnmore btn">More Work</button>
        </div>
    </div>
</section>