<section id="testimonial">
<div class="testimonial">
    <p class="text-highlight">Testimonial</p>
    <div class="testimonial-bar">
        <p class="text-title">What Our Customer Say</p>
        <div class="arrow">
            <div id="arrowLeft" (click)="slideTestimonials('left')">
                <img src="images/arrowLeft.svg" alt="Left Arrow">
            </div>
            <div id="arrowRight" (click)="slideTestimonials('right')">
                <img src="images/arrowRight.svg" alt="Right Arrow">
            </div>
        </div>
    </div>
    <div class="testimonial-box">
        <div class="testimonial-card">
            <div class="testimonial-container" id="card1">
                <div class="profile-bar">
                    <div class="profile">
                        <img src="images/user1.svg" alt="Testimonial Image">
                        <div class="profile-bio">
                            <p class="testimonial-name">Kathleen Smith</p>
                            <p class="testimonial-company">Fuel Company</p>
                        </div>
                    </div>
                    <div class="quoteIcon">
                        <img src="images/quoteIcon.svg" alt="Quote Icon">
                    </div>
                </div>
                <p class="testimonial-msg">
                    Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                </p>
                <div class="rating-star">
                    <img src="images/Star.svg" alt="Star Icon">
                </div>
            </div>
            <div class="testimonial-container" id="card2">
                <div class="profile-bar">
                    <div class="profile">
                        <img src="images/user2.svg" alt="Testimonial Image">
                        <div class="profile-bio">
                            <p class="testimonial-name">John Martin</p>
                            <p class="testimonial-company">Restoration Company</p>
                        </div>
                    </div>
                    <div class="quoteIcon">
                        <img src="images/quoteIcon.svg" alt="Quote Icon">
                    </div>
                </div>
                <p class="testimonial-msg">
                    Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                </p>
                <div class="rating-star">
                    <img src="images/Star.svg" alt="Star Icon">
                </div>
            </div>
            <div class="testimonial-container" id="card1">
                <div class="profile-bar">
                    <div class="profile">
                        <img src="images/ink.svg" alt="Testimonial Image">
                        <div class="profile-bio">
                            <p class="testimonial-name">Kathleen Smith</p>
                            <p class="testimonial-company">Fuel Company</p>
                        </div>
                    </div>
                    <div class="quoteIcon">
                        <img src="images/quoteIcon.svg" alt="Quote Icon">
                    </div>
                </div>
                <p class="testimonial-msg">
                    Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                </p>
                <div class="rating-star">
                    <img src="images/Star.svg" alt="Star Icon">
                </div>
            </div>
        </div>
    </div>
</div>
</section>
