<section id="testimonial">
<div class="testimonial">
    <p class="text-highlight">Testimonial</p>
    <div class="testimonial-bar">
        <p class="text-title">What Our Customer Say</p>
        <div class="arrow"></div>
    </div>
    <div class="testimonial-box">
        <div class="testimonial-card">
            <div class="testimonial-container">
                <img src="images/TestimonialImage1.svg" alt="Testimonial Image">
                <p class="testimonial-name">Kathleen Smith</p>
                <p class="testimonial-company">Fuel Company</p>
                <p class="testimonial-msg">
                    Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                </p>
                <div class="rating-star"></div>
            </div>
            <div class="testimonial-container">
                <img src="images/TestimonialImage2.svg" alt="Testimonial Image">
                <p class="testimonial-name">John Martin</p>
                <p class="testimonial-company">Restoration Company</p>
                <p class="testimonial-msg">
                    Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                </p>
                <div class="rating-star"></div>
            </div>
        </div>
    </div>
</div>
</section>
