<section id="whyChoose">
    <div class="whyChoose-div">

        <div class="right-content">
            <div class="whyChoose-image">
                <img id="whyChoose-image" src="images/wc-image.svg" alt="Aeroplane Image">
                <img id="whyChoose-tag" src="images/wc-tag.svg" alt="whyChoose-button">
            </div>
        </div>

        <div class="whyChoose-banner">
            <div class="whyChoose-Text">
                <p class="text-highlight"> Why Choose</p>
                <p class="text-heading"> We create opportunity to reach potential</p>
                <p class="text-msg"> Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative thinking to further the overall value proposition.</p>
            </div>

            <div class="whyChoose-featuresGrid">
                <div class="whyChoose-features">
                    <div class="feature-icon">
                        <img src="images/wc-icon1.svg" alt="Safe Package">
                    </div>
                    <div class="feature-text">
                        <p class="text-title">Safe Package</p>
                    </div>
                </div>  

                <div class="whyChoose-features">
                    <div class="feature-icon">
                        <img src="images/wc-icon2.svg" alt="Ship Everyware">
                    </div>
                    <div class="feature-text">
                        <p class="text-title">Ship Everyware</p>
                    </div>
                </div> 

                <div class="whyChoose-features">
                    <div class="feature-icon">
                        <img src="images/wc-icon3.svg" alt="Global Tracking">
                    </div>
                    <div class="feature-text">
                        <p class="text-title">Global Tracking</p>
                    </div>
                </div> 

                <div class="whyChoose-features">
                    <div class="feature-icon">
                        <img src="images/wc-icon4.svg" alt="24/7 Support">
                    </div>
                    <div class="feature-text">
                        <p class="text-title">24/7 Support</p>
                    </div>
                </div> 

                <div class="whyChoose-features">
                    <div class="feature-icon">
                        <img src="images/wc-icon5.svg" alt="In Time Delivery">
                    </div>
                    <div class="feature-text">
                        <p class="text-title">In Time Delivery</p>
                    </div>
                </div> 

                <div class="whyChoose-features">
                    <div class="feature-icon">
                        <img src="images/wc-icon6.svg" alt="Transparant Pricing">
                    </div>
                    <div class="feature-text">
                        <p class="text-title">Transparant Pricing</p>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>