<section class="aboutUS">
    <div class="aboutUS-Div">
        <div> 
           <img src="about-US\aboutUS-slide.svg" alt="About Banner" class="aboutBanner-img"> 
        </div>
        <div class="about-US-Content">
            <div class="text-highlight">
                <p>About Us</p>
            </div>
            <p class="text-heading">Our Company Overview</p>
            <p class="text-description td1">Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative thinking to further the overall value proposition.</p>
            <div class="aboutUS-btn">
                <button class="btn btn-primary1">Our Approach</button>
                <button class="btn btn-primary2">Their Method</button>
                <button class="btn btn-primary3">You Process</button>
            </div>
            <p class="text-description td2">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem quia voluptassit.</p>
            <button class="aboutUS-learnmore btn">Learn More</button>
            <div class="graphic-c"></div>
        </div>
    </div>
</section>
