<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.67" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<main class="about-page-main">
  <app-header></app-header>
  <app-navigation></app-navigation>
  <app-about-banner></app-about-banner>
  <app-about-us></app-about-us>
  <div class="grey">
  <app-about-whatwedo></app-about-whatwedo>
  </div>
  <app-team></app-team>
  <div class="grey">
  <app-testimonial></app-testimonial>
  </div>
  <app-price></app-price>
  <div class="grey">
  <app-faq></app-faq>
  </div>
  <div class="g1"></div>
  <div class="g2"></div>
  <app-footer></app-footer>
  <!-- <app-footer></app-footer> -->
</main>