<section class="banner-section">
    <img id="hero-image" src="images/backGround.svg" alt="Ship Hero Image" />
    <div class="banner">
        <div class="text">
            <p class="text-highlight">Logistics & Supply Chain Solutions</p>
            <p class="hero-text">Your Gateway</p>
            <p class="hero-text">to any Destination</p>
            <p class="hero-text">in the World</p>
            <p class="caption-text">In augue ligula, feugiat ut nulla consequat. Ut est lacus, molestie in arcu</p>
            <p class="caption-text">no, iaculis vehicula ipsum. Nunc faucibus, nisl id dapibus finibus, enim</p> 
            <p class="caption-text">diam interdum nulla, sed laoreet risus lectus.</p>
        </div>
        <div class="explore-button">
            <img id="explore-button" src="images/ExploreMore.svg" alt="Explore Button" href="exploremore.html"/>
        </div>
    </div>
</section>