.banner {
    position: absolute;
    top: 390px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1200px;
    width: 100%;
    height: 80vh;
    padding: 0 20px;
}

/* #hero-image{
    position: static;
    top: 0;
    left: 0;
    width: 100vw;
} */
 
.text-highlight {
    color: #ffffff;
    background-color: rgba(4, 28, 55, 0.7);
    display: inline-block;
    padding: 2px 10px 2px 5px;
    border-left: 3px solid #ffc107;
    font-size: 1rem;
    font-family: rubik;
}

.hero-text {
    color: #ffffff;
    font-size: 4rem;
    font-family: rubik;
    font-weight: 600;
    margin: 5px 0;
}

.caption-text {
    color: #ffffff;
    font-size: 1.2rem;
    font-family: krub;
    margin: 2px 0;
}

.explore-button {
    margin-top: 20px;
    cursor: pointer;
    transition: all 3s ease;
}

#explore-button:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(194, 148, 31, 0.5);
}

@media screen and (max-width: 1023px) and (min-width: 769px) {
    .banner {
        padding: 0 40px;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        padding: 0 20px;
        top: 320px;
    }
}