<div class="GoodWill">
   <!-- <img src="./images/GoodWill.svg" alt="goodwill" id="gw"> -->
   <div class="GoodWill-Header">
      <p class="text-highlight">Our Goodness</p>
      <p class="text-heading">How We Works</p>
   </div>

   <div class="GoodWill-main">
      <div class="GW-image">
         <img src="./images/GoodWill-image.svg" alt="goodwill" id="gw-img">
      </div>
      <div class="GW-features">
         <div class="GoodWill-content">
            <img src="./images/GWlogo1.svg" alt="logo" class="logo">
            <div class="text">
                  <p class="title-text">Warehousing Services</p>
                  <p class="description-text">Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative thinking </p>
            </div>
         </div>

         <div class="GoodWill-content">
            <img src="./images/GWlogo2.svg" alt="logo" class="logo">
            <div class="text">
               <p class="title-text"> Safety & Quality</p>
               <p class="description-text">Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative thinking </p>
            </div>
      </div>

      <div class="GoodWill-content">
         <img src="./images/GWlogo3.svg" alt="logo" class="logo">
         <div class="text">
            <p class="title-text">Goodwill</p>
            <p class="description-text">Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative thinking </p>
         </div>
      </div>
   </div>
</div>