<section id="price">
  <div class="price">
    <div class="text">
        <p class="text-highlight">Pricing</p>
        <p class="text-heading">Our Best Price</p>
    </div>
    <div class="price-container">
        <div class="price-card">
            <div class="price-card-header">
                <p class="price-card-title">Basic</p>
                <div class="price-tag">
                    <p class="price-card-price">$39</p>
                    <p class="price-card-duration">/month</p>
                </div>
            </div>
            <div class="features">
                <p class="feature TruckNo">Single Truck</p>
                <p class="feature">Full Insurance</p>
                <p class="feature">500 Km</p>
                <p class="feature">Real-time rate shopping</p>
            </div>
            <div class="price-card-cta">
                <button class="btn btn-primary">Choose Plan</button>
            </div>
        </div>

        <div class="price-card">
            <div class="price-card-header">
                <p class="price-card-title">Standard</p>
                <div class="price-tag">
                    <p class="price-card-price">$59</p>
                    <p class="price-card-duration">/month</p>
                </div>
            </div>
            <div class="features">
                <p class="feature TruckNo">Single Truck</p>
                <p class="feature">Full Insurance</p>
                <p class="feature">1000 Km</p>
                <p class="feature">Real-time rate shopping</p>
            </div>
            <div class="price-card-cta">
                <button class="btn btn-primary">Choose Plan</button>
            </div>
        </div>

        <div class="price-card">
            <div class="price-card-header">
                <p class="price-card-title">Premium</p>
                <div class="price-tag">
                    <p class="price-card-price">$89</p>
                    <p class="price-card-duration">/month</p>
                </div>
            </div>
            <div class="features">
                <p class="feature TruckNo">Double Truck</p>
                <p class="feature">Full Insurance</p>
                <p class="feature">1000 Km</p>
                <p class="feature">Real-time rate shopping</p>
            </div>
            <div class="price-card-cta">
                <button class="btn btn-primary">Choose Plan</button>
            </div>
        </div>
    </div>
  </div>
</section>
