<!-- <section class="services-section">
    <div class="servicecontent">
        <div class="text">
            <p class="t7">What we do</p>
            <p class="t4">Safe & Reliable</p>
            <p class="t4">Cargo Solutions</p>
        </div>
    </div>
    <div class="container-grid">
        <div class="service">
            <div class="service-icon">
                <img src="images/Service1.svg" alt="Service 1" />
            </div>
            <div class="data">
                <p class="t5">Sea Transport Services</p>
                <p class="t6">Following the quality of our service, thus having gained trust of our many clients.</p>
            </div>
        </div>
        <div class="service">
            <div class="service-icon">
                <img src="images/Service2.svg" alt="Service 2" />
            </div>
            <div class="data">
                <p class="t5">Warehousing Services</p>
                <p class="t6">Following the quality of our service, thus having gained trust of our many clients.</p>
            </div>
        </div>
        <div class="service">
            <div class="service-icon">
                <img src="images/Service3.svg" alt="Service 3" />
            </div>
            <div class="data">
                <p class="t5">Air Freight Services</p>
                <p class="t6">Following the quality of our service, thus having gained trust of our many clients.</p>
            </div>
        </div>
        <div class="service">
            <div class="service-icon">
                <img src="images/Service4.svg" alt="Service 4" />
            </div>
            <div class="data">
                <p class="t5">Local Shipping Services</p>
                <p class="t6">Following the quality of our service, thus having gained trust of our many clients.</p>
            </div>
        </div>
    </div>
</section> -->