#service{
    position: relative;
    width: 100%;
    min-width: auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    margin: 50px 10px;
}

.service-div{
    width: 100%;
    min-width: auto;
    justify-content: space-between;
    display: flex;
    max-width: 1200px;
}

.service-banner{
    width: 100%;
    padding-right: 30px;
}
.text{
    width: 100%;
    padding-left: 30px;
}
.service-content {
    width: 398px;
    max-width: 1200px;
    display: flex;
    gap: 50px;
    position: relative;
}

.service-icon {
    border-right: 1px solid #D8D8D8;
    padding-right: 25px;
}

.container-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
}

.text-highlight{
    background-color: rgba(232, 232, 232, 0.5);
    border-left: 3px solid #ffc107;
    padding-left: 5px;
    font-family: rubik;
    margin-bottom: 10px;
    display: inline-block;
}
.service-heading{
    font-family: rubik;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5px;
}

.service-type{
    font-family: rubik;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 5px;
}
.caption{
    font-family: krub;
    font-size: 1rem;
    font-weight: normal;
    color: #666C89;
    font-weight: 400;
}



@media screen and (max-width: 1023px) and (min-width: 769px) {
    .service-div {
        flex-direction: column;
        align-items: center;
    }

    .service-banner {
        padding-right: 0;
        margin-bottom: 30px;
    }

    .text {
        padding-left: 0;
        text-align: center;
    }

    .container-grid {
        grid-gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .service-div {
        flex-direction: column;
        align-items: center;
    }

    .service-banner {
        padding-right: 0;
        margin-bottom: 30px;
    }

    .text {
        padding-left: 0;
        text-align: center;
    }

    .container-grid {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .service-heading {
        font-size: 2.5rem;
    }

    .service-type {
        font-size: 1.2rem;
    }
    .service-content {
        width: 390px;
        max-width: 1200px;
        display: flex;
        gap: 10px;
        position: relative;
    }
}


