<section id="blog">
    <div class="blog-div">
        <div class="text">
            <p class="text-highlight"></p>
            <p class="text-heading">Blog</p>
        </div>
        <div class="blog-container">

            <div class="blog-card">
                <img src="images/blog1.png" alt="Blog Image" class="blog-image">
                <div class="blog-date">
                    <img src="images/CalendarIcon.svg" alt="Calendar Icon" class="calendar-icon">
                    <p class="blog-date-text">25 May 2023</p>
                </div>
                <div class="blog-content">
                    <p class="blog-title">The Benefits of Using a Logistics Company</p>
                </div>
            </div>

            <div class="blog-card">
                <img src="images/blog1.png" alt="Blog Image" class="blog-image">
                <div class="blog-date">
                    <img src="images/CalendarIcon.svg" alt="Calendar Icon" class="calendar-icon">
                    <p class="blog-date-text">25 May 2023</p>
                </div>
                <div class="blog-content">
                    <p class="blog-title">The Benefits of Using a Logistics Company</p>
                </div>
            </div>

            <div class="blog-card">
                <img src="images/blog1.png" alt="Blog Image" class="blog-image">
                <div class="blog-date">
                    <img src="images/CalendarIcon.svg" alt="Calendar Icon" class="calendar-icon">
                    <p class="blog-date-text">25 May 2023</p>
                </div>
                <div class="blog-content">
                    <p class="blog-title">The Benefits of Using a Logistics Company</p>
                </div>
            </div>
        </div>
        <div class="blog-buttom">
            <button class="button">More Blog</button>
        </div>
    </div>
</section>