<section id="blog">
    <div class="blog-div">
        <div class="text">
            <p class="text-highlight">Our Blog</p>
            <p class="text-heading">Our Latest News</p>
        </div>
        <div class="blog-container">

            <div class="blog-card">
                <img src="blog/blog1.svg" alt="Blog Image" class="blog-image">

                <div class="blog-date">
                    <img src="blog/blogdate1.svg" alt="Calendar Icon" class="calendar-icon">
                    <!-- <p class="blog-date-text">09 May 2023</p> -->
                </div>
                
                <div class="blog-content">
                    <p class="blog-title">Inland freight a worthy solution for your business</p>
                    <p class="blog-description">We are dedicated in creating added value for our customers by implementing modern technology in our work.</p>
                    <div class="blog-points">
                        <ul class="blog-point">
                            <li>Urgent transport solutions</li>
                            <li>Reliable & experienced staffs</li>
                            <li>Urgent transport solutions</li>
                            <li>Reliable & experienced staffs</li>
                        </ul>    
                    </div>
                    
                </div>
            </div>

            <div class="blog-card">
                <img src="blog/blog2.svg" alt="Blog Image" class="blog-image">
                <div class="blog-date">
                    <img src="blog/blogdate2.svg" alt="Calendar Icon" class="calendar-icon">
                    <!-- <p class="blog-date-text">12 May 2023</p> -->
                </div>
                <div class="blog-content">
                    <p class="blog-title">How technology can help redraw the supply chain map</p>
                    <p class="blog-description">We are dedicated in creating added value for our customers by implementing modern technology in our work.</p>
                    
                    <div class="blog-points">
                        <ul class="blog-point">
                            <li>Urgent transport solutions</li>
                            <li>Reliable & experienced staffs</li>
                            <li>Urgent transport solutions</li>
                            <li>Reliable & experienced staffs</li>
                        </ul>    
                    </div>
                    
                </div>
            </div>

            <div class="blog-card">
                <img src="blog/blog3.svg" alt="Blog Image" class="blog-image">
                <div class="blog-date">
                    <img src="blog/blogdate3.svg" alt="Calendar Icon" class="calendar-icon">
                    <!-- <p class="blog-date-text">25 May 2023</p> -->
                </div>
                <div class="blog-content">
                    <p class="blog-title">Five things you should have ready for your broker</p>
                    <p class="blog-description">We are dedicated in creating added value for our customers by implementing modern technology in our work.</p>
                    
                    <div class="blog-points">
                        <ul class="blog-point">
                            <li>Urgent transport solutions</li>
                            <li>Reliable & experienced staffs</li>
                            <li>Urgent transport solutions</li>
                            <li>Reliable & experienced staffs</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-button">
            <button class="button">More Blog</button>
        </div>
    </div>
</section>